In [1]:
# Let's create the data for the project

import pandas as pd
from  sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# The class "DecisionTreeClassifier" contains the decision tree model
data= { 'Age' : [20, 23, 25, 26, 29, 30, 31, 33, 37, 20, 21, 25, 26, 27, 30, 31, 34, 35],
       'gender': [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], 
       'genre':['Hiphop','Hiphop','Hiphop','Jazz','Jazz','Jazz','Classical','Classical','Classical','Dance','Dance','Dance','Acoustic','Acoustic','Acoustic', 'Classical','Classical','Classical']
      }

df= pd.DataFrame(data)
# Let's now save the data into a csv file
df.to_csv( 'data_1.csv', index= False)


#print( df)

In [2]:
music_data=df
music_data.shape
music_data.describe

# let's now split the data into input and output data sets
X = music_data. drop( columns= [ "genre"])
Y = music_data[ 'genre']

In [127]:
# Let's now create the model , train it and make predictions
model = DecisionTreeClassifier() 
X_train , X_test, Y_train, Y_test= train_test_split( X, Y, test_size =0.2)
model.fit( X_train, Y_train)
predictions= model.predict( X_test)

accuracy_score( predictions, Y_test)

0.75

In [107]:
X_train

    Age  gender
5    30       1
1    23       1
13   27       0
7    33       1
12   26       0
15   31       0
10   21       0
16   34       0
0    20       1
8    37       1
2    25       1
3    26       1
9    20       0
4    29       1

In [109]:
Y_train

5          Jazz
1        Hiphop
13     Acoustic
7     Classical
12     Acoustic
15    Classical
10        Dance
16    Classical
0        Hiphop
8     Classical
2        Hiphop
3          Jazz
9         Dance
4          Jazz
Name: genre, dtype: object

In [111]:
X_test

    Age  gender
6    31       1
14   30       0
17   35       0
11   25       0

In [113]:
Y_test

6     Classical
14     Acoustic
17    Classical
11        Dance
Name: genre, dtype: object

In [115]:
predictions==Y_test

6     True
14    True
17    True
11    True
Name: genre, dtype: bool

In [3]:
df.head()

   Age  gender   genre
0   20       1  Hiphop
1   23       1  Hiphop
2   25       1  Hiphop
3   26       1    Jazz
4   29       1    Jazz